/* celá stránka*/
* {
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

body {
    background: linear-gradient(180deg, #615dad, #ffc8da); 
    background-repeat: no-repeat;
    background-attachment: fixed;  
    box-sizing: border-box;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    margin: 150px 200px 200px 150px;
}


/*obrázek*/
.obrazek {
    justify-content: center;
}
.uvodnijpg {
    border-radius: 15px 15px 0 0;
}


/*text*/
h1 {
    font-family: 'Lobster', cursive;
    /* nejsem jistá, jestli je nutné nastavovat velikost, klidně bych nechala přednastavenou h1*/
    font-size: xx-large;
}
.popisek {
    background-color: #283e50;
    padding: 0 3% 0 3%;
}



/*tlačítka*/

a {
    text-decoration: none
}
.pravidla {
    background-color: #1fcca4;
    padding: 5% 0 5% 0;
}
.pravidla:hover {
    background-color: #1cbb96;
}
.zacithrat {
    background-color: #0197f6;
    padding: 5% 0 5% 0;
    /* nevím jestli bylo cílem vytvořit, ale na obrázku zadání je */
    border-top: 1px solid #333;
}
.zacithrat:hover {
    background-color: #0090e9;
}

    
    
   

    
    

}