* {
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
  font-family: 'Raleway', sans-serif;
  color: white;

}

body {
  background: linear-gradient(180deg, #615dad, #ffc8da); 
  background-repeat: no-repeat;
  background-attachment: fixed;  
  box-sizing: border-box;
  display: flex; 
  justify-content: center; 
  
  margin: 5% 10% 10% 5%; 
}

.pravidla--body {
  background-color: #283e50;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
h1 {
text-align: center;
}
ol{
  margin: 5%;
}
li {
  margin: 5%;
}

.symbol {
  width: 5%;
  height: 5%;
}
.isntrukce {
  box-sizing: border-box;
  display: flex; 
  justify-content: center; 
}
.instrukce--sekce {
  box-sizing: border-box;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 15% 2% 5% 2%;
  
}
 p  {
 align-items: center;
 padding: 0 10% 0 10%;
}
img {
  width: 80%;
}